#back{
	postion:fixed;
	top:20;
	padding:20px;
	font-size:1em;
}

.clear{
	clear:both;
}


body{
	font-family: 'Open Sans', sans-serif;
	color: white;
	margin:0 auto;
}


#wrapper{
	width:100%;
}

#container{
	padding-left:10%;

	width:75%;
}

section{
	padding-top:10%;
}

header, #logo{
	font-size:3em;
	font-weight:500;
	line-height:1em;
	color:rgba(0,0,0,0.2);
	padding:0 0 20px 0;
	
}

#logo{
	position:fixed;
	background-color:rgba(255,255,255,0.3);
	left:0;
	top:0;
}

h2, h3, p{
	padding:0;
	margin:0;
}


a{
	
	color:rgba(0,0,0,0.7);
	text-decoration:none;
}

.ex-link{
	color:orange;
}

#dvLoading
{
   width:100%;
   height:100%;
   background-color:rgb(255,255,255);
   color:rgba(0,0,0,0.8);
   position: fixed;
   z-index: 1000;
   text-align:center;
}

#dvLoading p{
	position:fixed;
	top: 40%;
    left: 30%;
    margin-top: -25px;
    margin-left: -50px;
    -webkit-animation: load-color 5s 1s infinite linear; /* Safari 4+ */
 	-moz-animation:    load-color 5s 1s infinite linear; /* Fx 5+ */
 	-o-animation:      load-color 5s 1s infinite linear; /* Opera 12+ */
 	animation:         load-color 5s 1s infinite linear;
}

#dvLoading p span{
	display:block;
	font-size:0.7em;
	margin-top:5%;
}

@-webkit-keyframes load-color{
  50%   { color:rgba(0,0,0,0.4)} /* blue */
}

@-moz-keyframes load-color{
   50%   { color:rgba(0,0,0,0.4)} /* blue */
}

@-o-keyframes load-color{
   50%   { color:rgba(77,166,255,0.4)} /* blue */
}

@keyframes load-color {
    50%   { color:rgba(77,166,255,0.4)} /* blue */
}


/******sticky nav******/

nav{
	position:fixed;
	right:0;
	top:0;
	z-index:100;
	width:200px;
}

nav ul{
	list-style:none;
}

nav ul li{
	height:2em;
	padding:5px 10px 5px 10px;
	margin-bottom:2px;
	background-color:rgba(225,225,225,0.1);
	border-radius:2px;
	font-size:0.7em;
}


nav .link-work li{
	padding-left:10px;
	background-color:rgba(225,225,225,0.8);
}

.work nav{
	bottom:0;
}

/************about***********/
#about{
	padding-bottom:40%;
	padding-top:20%;
}

#about p{
	color:rgba(0,0,0,0.2);
	margin:0 auto;
	font-size:1.5em;
	line-height:1.5em;
	width:80%;
}

#about span{
	color:rgba(0,0,0,0.4);
	font-size:0.7em;
	display:block;
}

#index{
	width:100; 
	background-color: #FFA64D; /* orange */
	opacity:0.7;
	-webkit-animation: bk-color 5s 2s infinite linear; /* Safari 4+ */
 	-moz-animation:    bk-color 5s 2s infinite linear; /* Fx 5+ */
 	-o-animation:      bk-color 5s 2s infinite linear; /* Opera 12+ */
 	animation:         bk-color 5s 2s infinite linear;

}



@-webkit-keyframes bk-color{
  25%   { background-color:#FF9673;} /* pale orange */
  50% 	{ background-color:#00B285;} /* green */ 
  75%   { background-color:#4DA6FF;} /* blue */
}

@-moz-keyframes bk-color{
  25%   { background-color:#FF9673;} /* pale orange */
  50% 	{ background-color:#00B285;} /* green */ 
  75%   { background-color:#4DA6FF;} /* blue */

}
@-o-keyframes bk-color{
  25%   { background-color:#FF9673;} /* pale orange */
  50% 	{ background-color:#00B285;} /* green */ 
  75%   { background-color:#4DA6FF;} /* blue */

}
@keyframes bk-color {
  25%   { background-color:#FF9673;} /* pale orange */
  50% 	{ background-color:#00B285;} /* green */ 
  75%   { background-color:#4DA6FF;} /* blue */
  100%  { opacity:0.7; }
}

.work{
	background-color: white;
}



/************portfolio***********/


.work header{
	color:rgba(0,0,0,0.2);
	font-size:1em;
}


.work p{
	color:rgba(0,0,0,0.2);
	font-size:1em;
}

#sidenav{
	position:fixed;
	width:30%;
	padding:0;
}

.features {
	list-style:none;
	padding:0px;
	margin-top:30px;

}

.features li{
	margin-top:5px;
	padding:5px 20px;
	font-size:1em;
	border-radius:3px;
	background-color:rgba(255,92,38,0.4);
	color:white;
}

.features a:hover li{
	background-color:rgba(255,92,38,0.6);
}

.toggle {
	list-style:none;
	padding:0px;
	
}


.toggle li {
	margin-top:5px;
	padding:5px 20px;
	font-size:1em;
	border-radius:3px;
	background-color:rgba(0,0,0,0.2);
	color:white;
}

.toggle li:hover{
	background-color:rgba(0,0,0,0.4);
}

.iphone{
	background-size:contain;
	background-repeat:no-repeat;
	height:1136px;
	width:640px;
}

#JAB_delete{
	background-image: url('JAB-web/1.png');
	-webkit-animation: delete 3s ease-in  infinite alternate; /* Safari 4+ */
 	-moz-animation:  delete 3s linear infinite alternate; /* Fx 5+ */
 	-o-animation:     delete 3s linear infinite alternate; /* Opera 12+ */
 	animation:        delete3s linear  infinite alternate;
}


#JAB_swipe{
	background-image: url('JAB-web/3.png');
	-webkit-animation: swipe 3s ease-in  infinite alternate; /* Safari 4+ */
 	-moz-animation:  swipe 3s linear infinite alternate; /* Fx 5+ */
 	-o-animation:    swipe 3s linear infinite alternate; /* Opera 12+ */
 	animation:        swipe 3s linear  infinite alternate;
	
}

#JAB_round{
	background-image: url('JAB-web/5.png');
	-webkit-animation: round 2s linear  infinite alternate; /* Safari 4+ */
 	-moz-animation:   round 2s linear infinite alternate; /* Fx 5+ */
 	-o-animation:      round 2s linear infinite alternate; /* Opera 12+ */
 	animation:        round 2s linear infinite alternate;
}



@-webkit-keyframes delete{
  50%   { background-image: url('JAB-web/2.png');} 
}
	@-moz-keyframes delete{
	  50%   { background-image: url('JAB-web/2.png');} 
	}
	@-o-keyframes delete{
	  50%   { background-image: url('JAB-web/2.png');} 
	  
	}
	@keyframes delete{
	  50%   { background-image: url('JAB-web/2.png');} 
	}

@-webkit-keyframes swipe{
	  50%   { background-image: url('JAB-web/4.png');} 
}

	@-moz-keyframes swipe{
	  50%   { background-image: url('JAB-web/4.png');} 
	}
	@-o-keyframes swipe{
	  50%   { background-image: url('JAB-web/4.png');} 
	}
	@keyframes swipe{
	  50%   { background-image: url('JAB-web/4.png');} 
	}

@-webkit-keyframes round{
	  50%   { background-image: url('JAB-web/6.png');} 
	}
	@-moz-keyframes round{
	  50%   { background-image: url('JAB-web/6.png');} 
	}
	@-o-keyframes round{
	  50%   { background-image: url('JAB-web/6.png');} 
	  
	}
	@keyframes round{
	  50%   { background-image: url('JAB-web/6.png');} 
	}

.mac{
	background-size:contain;
	background-repeat:no-repeat;
	height:600px;
	width:200px;
}

#roomade_screen{
	background-image: url('../../images/Roomade/1.png');
	-webkit-animation: roomade 3s 2s linear  infinite  alternate; /* Safari 4+ */
 	-moz-animation:   roomade 3s 2s linear infinite  alternate; /* Fx 5+ */
 	-o-animation:     roomade 3s 2s linear infinite  alternate; /* Opera 12+ */
 	animation:        roomade 3s 2s linear infinite  alternate;
}

@-webkit-keyframes roomade{
  50%   { background-image: url('../../images/Roomade/2.png');} 
}

@-moz-keyframes bk-color{
   50%   { background-image: url('../../images/Roomade/2.png');} 

}
@-o-keyframes bk-color{
   50%   { background-image: url('../../images/Roomade/2.png');} 

}
@keyframes bk-color {
 50%   { background-image: url('../../images/Roomade/2.png');} 
}


#DT_screen{
	background-image: url('dengue/1.png');
	-webkit-animation: dt 3s 2s linear  infinite  alternate; /* Safari 4+ */
 	-moz-animation:   dt 3s 2s linear infinite  alternate; /* Fx 5+ */
 	-o-animation:     dt 3s 2s linear infinite  alternate; /* Opera 12+ */
 	animation:        dt 3s 2s linear infinite  alternate;
}

#DT_screen2{
	background-image: url('dengue/2.png');
	-webkit-animation: dt 3s 2s linear  infinite  alternate; /* Safari 4+ */
 	-moz-animation:   dt 3s 2s linear infinite  alternate; /* Fx 5+ */
 	-o-animation:     dt 3s 2s linear infinite  alternate; /* Opera 12+ */
 	animation:        dt 3s 2s linear infinite  alternate;
}


#DT_screen3{
	background-image: url('dengue/3.png');
	-webkit-animation: dt 3s 2s linear  infinite  alternate; /* Safari 4+ */
 	-moz-animation:   dt 3s 2s linear infinite  alternate; /* Fx 5+ */
 	-o-animation:     dt 3s 2s linear infinite  alternate; /* Opera 12+ */
 	animation:        dt 3s 2s linear infinite  alternate;
}


#shroom_screen img{
	width:100%;
}
/************footer***********/

footer {
	color:rgba(0,0,0,0.2);
	text-align:center;
	padding:10%;
	font-size:0.7em;
}
	